# This file configures the VS editor for project wide properties

[*.cs]
# Naming styles
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_style.underscore_camel_case_style.capitalization = camel_case
dotnet_naming_style.underscore_camel_case_style.required_prefix = _

dotnet_naming_style.interface_pascal_case.capitalization = pascal_case
dotnet_naming_style.interface_pascal_case.required_prefix = I

# Constants are to be styles as PascalCase
dotnet_naming_rule.constants_pascal_cased.symbols = constant_symbols

dotnet_naming_symbols.constant_symbols.applicable_kinds = field
dotnet_naming_symbols.constant_symbols.applicable_accessibilities = *
dotnet_naming_symbols.constant_symbols.required_modifiers = const

dotnet_naming_rule.constants_pascal_cased.style = pascal_case_style
dotnet_naming_rule.constants_pascal_cased.severity = suggestion

# Public members are to be styled as PascalCase
dotnet_naming_rule.public_members_pascal_cased.symbols = public_symbols

dotnet_naming_symbols.public_symbols.applicable_kinds = property, method, event, field
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public, internal

dotnet_naming_rule.public_members_pascal_cased.style = pascal_case_style
dotnet_naming_rule.public_members_pascal_cased.severity = suggestion

# Protected members are to be styles as camelCase
dotnet_naming_rule.protected_members_pascal_cased.symbols = protected_symbols

dotnet_naming_symbols.protected_symbols.applicable_kinds = event, field
dotnet_naming_symbols.protected_symbols.applicable_accessibilities = protected

dotnet_naming_rule.protected_members_pascal_cased.style = camel_case_style
dotnet_naming_rule.protected_members_pascal_cased.severity = suggestion

# Private fields are to be styled as _camelCase
dotnet_naming_rule.private_fields_camel_cased.symbols = private_field_symbols

dotnet_naming_symbols.private_field_symbols.applicable_kinds = field, event
dotnet_naming_symbols.private_field_symbols.applicable_accessibilities = private

dotnet_naming_rule.private_fields_camel_cased.style = underscore_camel_case_style
dotnet_naming_rule.private_fields_camel_cased.severity = suggestion

# Interfaces are prefaces with 'I'
dotnet_naming_rule.interfaces_begins_with_i.symbols = interface_symbols

dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_symbols.interface_symbols.applicable_accessibilities = *

dotnet_naming_rule.interfaces_begins_with_i.style = interface_pascal_case
dotnet_naming_rule.interfaces_begins_with_i.severity = suggestion

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = error

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = error

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = warning
